<p>
{% extends 'artbud/base.html' %}
{% load staticfiles %}

{% block title_block %}
		About
	{% endblock %}
	{% block body_block %}
	<table style="width:20%">
    <tr>
        <th><img src="{% static "images/logo.jpg" %}" alt="Artbud Logo" style="width:180px;height:100px;">
        </th>
        <th>
            <ul>
                {% if user.is_authenticated %}

                    <li style="float:right"><a class="nav-link" href="{% url 'auth_logout' %}?next=/artbud/">Sign Out</a></li>
                    <li style="float:right"><a href="{% url 'profile' user.username %}">Profile</a></li>
                    <li style="float:right"><a href="{% url 'category' %}">Categories</a></li>
                    <li style="float:right"><a href="{% url 'index' %}">Home</a></li>

                {% else %}

                    <li style="float:right"><a href="{% url 'auth_login' %}">Sign In</a></li>
                    <li style="float:right"><a href="{% url 'registration_register' %}">Register</a></li>
                    <li style="float:right"><a href="{% url 'category' %}">Categories</a></li>
                    <li style="float:right"><a href="{% url 'index' %}">Home</a></li>

                {% endif %}

            </ul>
        </th>
    </tr>
	</table>
	<hr/>
	
	
	
	
	
        <div>
	        <h1 class="page-header">About Page</h1>			
			Welcome to the About Page!
		</div>	
		<p>
		<p> Visits: {{ visits }}</p>
		<button class="btn btn-primary"
			onClick="alert('This button uses JavaScript.');">
			JavaScript Test
		</button>
	</p>
		<img src="{{MEDIA_URL}}mona.jpg" alt="Mona Lisa">
		
		
	{% endblock %}