{% extends "artbud/base.html" %}

{% block title_block %}{{ uploads.name }}{% endblock %}

{% block table_auth %}
    {% if selecteduser.username == user.username %}
        <li class="step"><a href="{% url 'index' %}">Home</a></li>
        <li class="step"><a href="{% url 'category' %}">Artwork</a></li>
        <li class="active"><a href="{% url 'profile' user.username %}">Profile</a></li>
        <li class="step"><a href="{% url 'auth_logout' %}?next=/artbud/">Logout</a>
            {% else %}
        <li class="step"><a href="{% url 'index' %}">Home</a></li>
        <li class="step"><a href="{% url 'category' %}">Artwork</a></li>
        <li class="step"><a href="{% url 'profile' user.username %}">Profile</a></li>
        <li class="step"><a href="{% url 'auth_logout' %}?next=/artbud/">Logout</a>
    {% endif %}
{% endblock %}
{% block table_notauth %}
    <li class="step"><a href="{% url 'index' %}">Home</a></li>
    <li class="step"><a href="{% url 'category' %}">Artwork</a></li>
    <li class="step"><a href="{% url 'registration_register' %}">Register</a></li>
    <li class="step"><a href="{% url 'auth_login' %}">Login</a></li>
{% endblock %}

{% block bodyblock %}
{% if user.is_authenticated %}
        {% if uploads %}
            <div class="row">
                {% for upload in uploads %}

                        <div>
                            <img src="{{ MEDIA_URL }}{{ upload.picture }}"
                                 alt="Picture of {{ upload.name }}" height="512px" width="512px">
                            <p>

                        <p class="list-group-item-heading">
                           Name: {{ upload.name }}<br>
                            Type: {{ upload.category }}<br>
                            Price: {{ upload.price }}<br>
                            Comment: {{ upload.comment }}<br>
                            Submitted by: {{ upload.user }}<br>
						</div>
						</div>
                        </div>
                        {% if forloop.counter|divisibleby:6 %}
                        </div>
                            <div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <div class="row">
            <center><h4>No Uploads</h4></center>
            </div>
        {% endif %}

    {% else %}
        <div class="row">
        <p>You are not Signed in.
            <br>Please Sign in or Sign up before uploading.
        </p>
    {% endif %}
{% endblock %}