{% extends "artbud/base.html" %}

{% block title_block %}{{ uploads.name }}{% endblock %}

{% block table_auth %}
        <li class="step"><a href="{% url 'index' %}">Home</a></li>
        <li class="active"><a href="{% url 'category' %}">Artwork</a></li>
        <li class="step"><a href="{% url 'profile' user.username %}">Profile</a></li>
        <li class="step"><a href="{% url 'auth_logout' %}?next=/artbud/logout/">Logout</a>
{% endblock %}

{% block bodyblock %}
    {% if user.is_authenticated %}
        {% if uploads %}
            <div class="row">

                {% for upload in uploads %}
                    <div class="medium-5 columns ">
                    <p></p>
                        <div>
                            <img src="{{ MEDIA_URL }}{{ upload.picture }}"
                                 alt="Picture of {{ upload.name }}" height="512px" width="512px"/>
                            <p>
                        </div>
                    </div>
                    <div class="medium-6 columns text-center ">
                    <p></p>

                        <p class="list-group-item-heading" style="padding: 100px 0 0 0;">
                            Name: {{ upload.name }}<br>
                            Type: {{ upload.category }}<br>
                            Price: {{ upload.price }}<br>
                            Comment: {{ upload.comment }}<br>
                            Submitted by: <a href="{% url 'profile' upload.user %}"> {{ upload.user }}</a>

					{% if upload.user == user %}
                        <form method="get" action="{% url 'art_delete' user.username upload.name %}">
                            <div class="input-group-button">

                                <input class="button_submit" style="margin: 0 auto;" type="submit" value="Delete Artwork"/>
                            </div>
                        </form>
					{% endif %}
                   
					
				</div>

                {% endfor %}
            </div>



        {% else %}
            <div class="row">
                <center><h4>No Uploads</h4></center>
            </div>
        {% endif %}

    {% else %}
        <div class="row">
                            <p>You are not logged in.
                                <br>Please <a href="{% url 'auth_login' %}">Login</a> or <a
                                        href="{% url 'registration_register' %}">Register</a> before viewing.
                            </p>
                        </div>
    {% endif %}
{% endblock %}