{% extends 'artbud/upload.html' %}
{% load staticfiles %}

{% block bodyblock %}
    {% if user.is_authenticated %}
        {% if uploads %}
            <div class="row">
                {% for upload in uploads %}

                    <div class="medium-2 columns text-center float-left">
                        <a href="{% url 'art_display' user.username upload.name %}">
                            <img src="{{ MEDIA_URL }}{{ upload.picture }}"
                                 alt="Picture of {{ upload.name }}" class="thumbnail" height="128px" width="128px">
                        </a>
                        <p>

                        <p class="list-group-item-heading">
                            {{ upload.name }}
                    </div>
                    {% if forloop.counter|divisibleby:6 %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
                </div>
        {% else %}
            <div class="row">
                <div style="text-align: center;"><h4>No Uploads</h4></div>
            </div>
        {% endif %}

    {% else %}
        <div class="row">
        <p>You are not Signed in.
            <br>Please Sign in or Sign up before uploading.
        </p>
    {% endif %}
{% endblock %}
