{% extends 'artbud/base.html' %}

{% block title_block %}Adding Artwork{% endblock %}

{% block bodyblock %}
	<h1>Adding Artwork</h1>
	{% if selecteduser.username == user.username %}
			<form class="form-signin" role="form" method="post" action="." enctype="multipart/form-data">
				{% csrf_token %}
					<p>
					<label for="id_websiteebsite" class="sr-only">Website: {{userprofile.website}}</label>
					<input type="text" id="id_website" class="form-control" name="website" placeholder="www.example.com">

					<p>
					<label for="id_bio" style="padding-right:38px">Bio: {{userprofile.bio}}</label>
					<textarea style="max-height:200px" id="id_bio" class="form-control" name="bio" placeholder="Describe yourself here..." ></textarea>

					<p>
					<label for="id_picture" style="padding-right:17px">Profile Picture: </label>
					<input type="file" id="id_picture" name="picture">

					<p>
					<button class="button_submit" type="submit" value="Update"/>Update</button>
			</form>
				{% else %}
                    <p style="padding-left:300px"><strong>Website:</strong> <a href="{{ userprofile.website }}">{{ userprofile.website }}</a></p>
                    <p style="padding-left:300px"><strong>Bio:</strong> {{ userprofile.bio }}</p>
                {% endif %}
{% endblock %}

