{% extends 'artbud/base.html' %}
{% load staticfiles %}

{% block table_auth %}
    <li class="step"><a href="{% url 'index' %}">Home</a></li>
    <li class="active"><a href="{% url 'category' %}">Artwork</a></li>
    <li class="step"><a href="{% url 'profile' user.username %}">Profile</a></li>
    <li class="step"><a href="{% url 'auth_logout' %}?next=/artbud/">Logout</a>
{% endblock %}
{% block table_notauth %}
    <li class="step"><a href="{% url 'index' %}">Home</a></li>
    <li class="active"><a href="{% url 'category' %}">Artwork</a></li>
    <li class="step"><a href="{% url 'registration_register' %}">Register</a></li>
    <li class="step"><a href="{% url 'auth_login' %}">Login</a></li>
{% endblock %}


{% block bodyblock %}
	{% if user.is_authenticated %}
				
	
	<div>
	<img src="/media/artwork_images/{{ user.username }}/IMG_20150619_175844.jpg" width="250" height="250">
	</div>
	
	<div>
	<img src="{{ MEDIA_URL }}/artwork_images/{{ user.username }}/IMG_20150621_110106.jpg" width="250" height="250">
	</div>
	
	{% if files %}
			<div>
			{% for upload in files %}
			<div>
				<div>
					<img src="{{ MEDIA_URL }}{{ upload.picture }}" 
					alt="Picture of {{ upload.name }}">
				</div>
				<h1>{{ upload.name }}</h1>
				<br>
				<h4>{{ upload.category }}</h4>
		</div>
					{% endfor %}
		</div>
	{% else %}
		<p>No Uploads</p>
	{% endif %}
	
	{% else %}
		<p>You are not logged in. 
		<br>Please <a href="{% url 'auth_login' %}">Login</a> or <a href="{% url 'registration_register' %}">Register</a> before uploading.
		</p>
	{% endif %}
{% endblock %}
