<!DOCTYPE html>
<!--{% load staticfiles %}-->

<html lang="en">
<head>


    <title>
        Art Bud -
    <!--
        {% block title_block %}
            Best Place for your Art
        {% endblock %}
        -->
    </title>

    <link rel="stylesheet" type="text/css" href="basecss.css">
</head>
<body>
<table style="width:20%">
    <tr>
        <th><img src="artbudlogo.jpg" style="width:320px;height:180px;"></th>
        <th>
        <ul>
            <!--{% if user.is_authenticated %}
            <th>
                <p></p>


                <li style="float:right"><a class="active" href="default.html">Home</a></li>
                <li style="float:right"><a href="base.html">Categories</a></li>
                <li style="float:right"><a href="base.html">My Art</a></li>
                <li style="float:right"><a href="base.html">Logout</a></li>

            </th>
            {% else %}-->




                <li style="float:right"><a class="active" href="default.html">Home</a></li>
                <li style="float:right"><a href="base.html">Categories</a></li>
                <li style="float:right"><a href="base.html">Login</a></li>
                <li style="float:right"><a href="base.html">Register</a></li>
            <!--{% endif %}-->
        </ul>

        </th>
    </tr>

</table>
<hr/>
<!--
{% block body_block %}
{% endblock %}
-->



<table class="bot_bar" style="width: 100%">
    <tr>


        <th>
            <hr/>
            Recent Tweet

            <p class="spec">Tweet from API?            </p>
            <p class="spec">Maybe latest news or smth  </p>
            <p class="spec">Count of users with us     </p>

        </th>
        <th>
            <hr/>
            About us

            <p class="spec">We love art and we want to </p>
            <p class="spec">share this love with the   </p>
            <p class="spec">world.                     </p>
        </th>
        <th>
            <hr/>
            Contact us
            <p class="spec">Email: artbud@artbud.co.uk </p>
            <p class="spec">Twitter: Artbud            </p>
            <p class="spec">Phone:0123213123           </p>

        </th>
    </tr>

</table>

<body/>
<html/>