<!doctype html>
{% load staticfiles %}

<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <title>
        {% block title_block %}
            Artbud
        {% endblock %}
    </title>
</head>
<body>

<!--HEADER -->


{% if user.is_authenticated %}
    <div class="row">
        <div class="large-3 columns">
            <img src="{% static "images/logo.jpg" %}" alt="Artbud Logo" style="width:200px;height:110px;">
        </div>
        <div class="large-9 columns">
            <div class="top-bar" style="background:white">
                <div class="top-bar-right">
                    <ul class="dropdown menu" data-dropdown-menu>
                        {% block table_auth %}
                            <!--<li class="step"><a href="#">Home</a></li>
                            <li class="active"><a href="#">Categories</a></li>
                            <li class="step"><a href="#">My Art</a></li>
                            <li class="step"><a href="#">Logout</a></li>-->
                        {% endblock %}
                    </ul>
                </div>
            </div>

        </div>

    </div>
{% else %}
    <div class="row">
        <div class="large-3 columns">
            <img src="{% static "images/logo.jpg" %}" alt="Artbud Logo" style="width:200px;height:110px;">
        </div>
        <div class="large-9 columns">
            <div class="top-bar" style="background:white">
                <div class="top-bar-right">
                    <ul class="dropdown menu" data-dropdown-menu>
                        {% block table_notauth %}
                            <!--<li class="step"><a href="#">Home</a></li>
                            <li class="active"><a href="#">Categories</a></li>
                            <li class="step"><a href="#">Register</a></li>
                            <li class="step"><a href="#">Login</a></li>-->
                        {% endblock %}
                    </ul>
                </div>
            </div>

        </div>

    </div>
{% endif %}
{% block body_block %}
{% endblock %}


<!-- Footer -->
<div id="footer">
    <footer class="footer">

        <div class="row full-width">

            <div class="small-12 medium-4 large-4 columns">

				<a class="twitter-timeline" data-height="200" href="https://twitter.com/Artbud_Official">Tweets by Artbud_Official</a> 
				<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				<!--<a href="https://twitter.com/Artbud_Official" class="twitter-follow-button" data-show-count="false">Follow @Artbud_Official</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>-->

            </div>

            <div class="small-12 medium-4 large-4 columns">

                <h4>About Us</h4></a>

                <p>We love art and we want to share this love with the whole World. </p>

            </div>

            <div class="small-12 medium-4 large-4 columns">

                <h4>Contact us</h4>
                <p>Email: artbud@artbud.co.uk<br>
                    Phone: 01232 613123 </p>

            </div>


        </div>

    </footer>
</div>
<script src="{% static 'js/vendor/jquery.js' %}"></script>
<script src="{% static 'js/vendor/what-input.js' %}"></script>
<script src="{% static 'js/vendor/sticky-footer.js' %}"></script>
<script src="{% static 'js/vendor/foundation.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>
