<!DOCTYPE html>
<html lang="en">
<head>
    <title>Art Bud - Best Place for your Art</title>
    <link rel="stylesheet" type="text/css" href="mycss.css">
</head>
<body>
    <table style="wisth:100%">
        <tr>
            <th><img src ="artbudlogo.jpg" style="width:304px;height:180px;"></th>
            <th>
                <p></p>

                 <ul>
                        <li style="float:right"><a class="active" href="default.html">Home</a></li>
                        <li style="float:right"><a href="base.html">Categories</a></li>
                        <li style="float:right"><a href="base.html">Login</a></li>
                        <li style="float:right"><a href="base.html">Register</a></li>

                 </ul>

            </th>

        </tr>

    </table>
<hr/>



</body>
</html>