{% extends 'Artbud/base.html' %}
{% load staticfiles %}
{% block title_block %}
	Index
{% endblock %}

{% block body_block %}
<p>
<div>
	{% if user.is_authenticated %}
		<h1> Welcome, {{ user.username }}!</h1>
	{% else %}
		<h1> Welcome, Anonymous </h1>
	{% endif %}
</div>
<div>
	<div>
	<h4>Most Liked Categories</h4>
	<p>
	{% if categories %}
		{% for category in categories %}
		<a href="{% url 'show_category' category.slug %}">
			{{ category.name }}</a>
		{% endfor %}
	{% else %}
		<strong>There are no categories present.</strong>
	{% endif %}
	</p>
	</div>
	<div>
		<h4>Most Viewed Pages</h4>
		<p>
		{% if pages %}
			{% for page in pages %}
			<a href="{{ page.url }}">{{ page.title }}</a>
			{% endfor %}
		{% else %}
			<strong>There are no categories present.</strong>
		{% endif %}
		</p>
	</div>
</div>
{% endblock %}
