<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head>
		<title>Artbud</title>
	</head>

	<body>
		<h1> Artbud </h1>
		<div>Welcome to the Index page.</div>
		<div>
			{% if categories %}
			<ul>
			{% for category in categories %}
			<li>{{ category.name }}</li>
			{% endfor %}
			</ul>
			{% else %}
			<strong>There are no categories present.</strong>
			{% endif %}
		</div>

		<div>
			<a href="/artbud/about/">About Artbud</a><br />
			<img src="{% static "images/art.jpg" %}" alt="Picture of Art" />
		</div>
	</body>
</html>
