{% extends 'artbud/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Category - Other
{% endblock %}
{% block table_auth %}
    <li class="step"><a href="{% url 'index' %}">Home</a></li>
    <li class="active"><a href="{% url 'category' %}">Categories</a></li>
    <li class="step"><a href="{% url 'profile' user.username %}">Profile</a></li>
    <li class="step"><a href="{% url 'auth_logout' %}?next=/artbud/">Logout</a>
{% endblock %}

{% block table_notauth %}
    <li class="step"><a href="{% url 'index' %}">Home</a></li>
    <li class="active"><a href="{% url 'category' %}">Categories</a></li>
    <li class="step"><a href="{% url 'registration_register' %}">Register</a></li>
    <li class="step"><a href="{% url 'auth_login' %}">Login</a></li>
{% endblock %}
{% block bodyblock %}
    <div class="row">
    <h1> Other </h1>
    </div>
{% endblock %}