
{% extends 'artbud/base.html' %}

{% load staticfiles %}
{% block title %}{{ selecteduser.username }}Profile{% endblock %}
{% block title_block %}{{ selecteduser.username }}{% endblock %}
{% block body_block %}


<link rel="stylesheet" type="text/css" href="{%static 'css/profile.css' %}" />

<h1 class="display-3">{{selecteduser.username}}'s Profile</h1>

<div id='centred'>
{% if userprofile.picture %}
<img src="{{ MEDIA_URL }}{{ userprofile.picture }}"
	width="250"
	height="250"
	alt="{{selecteduser.username}}" />
{% else %}
<img src="https://tinyurl.com/hea49k5" img width="300" height="300" alt="{{user.username}}"/>
{% endif %}
</div>

<p>
<div>
	{% if selecteduser.username == user.username %}
	
		<form class="form-signin" role="form" method="post" action="." enctype="multipart/form-data">
			{% csrf_token %}
			
			<label for="id_websiteebsite" class="sr-only">Website: </label>
			<input style="font-family:Century Gothic, sans-serif" type="text" id="id_website" class="form-control" name="website" placeholder="www.example.com">
			
			<p>
			
			<label for="id_bio" style="padding-right:8px">Bio: </label>
			<textarea style="font-family:Century Gothic, sans-serif" id="id_bio" class="form-control" name="bio" placeholder="Describe yourself here..." ></textarea>
			<!--<textarea type="text" id="id_bio" class="form-control" name="Bio" placeholder="About you..." style="font-size:12pt;height:100px;width:250px;">-->
			
			<p>
			
			<label for="id_picture" style="padding-right:17px">Picture: </label>
			<input type="file" id="id_picture" name="Picture" placeholder="Picture" style="color:transparent">
			
			<p>
			
		   <button class="btn btn-lg btn-primary btn-block" type="submit" value="Update" />Submit</button>
		</form>		
		
	{% else %}
	
	<p style="padding-left:300px"><strong>Website:</strong> <a href="{{userprofile.website}}">{{userprofile.website}}</a></p>		
	<p style="padding-left:300px"><strong>Bio:</strong> {{userprofile.bio}}</p>	
	<p style="padding-left:300px"><strong>Artwork:</strong> {{userprofile.artwork}}</p>	
	{% endif %}
</div>
<div id="edit_profile"></div>

{% endblock %}