
{% extends 'artbud/base.html' %}

{% load staticfiles %}
{% block title %}{{ selecteduser.username }}Profile{% endblock %}

{% block body_block %}

<h1>{{selecteduser.username}}'s Profile</h1>

{% if userprofile.picture %}
<img src="{{ MEDIA_URL }}{{ userprofile.picture }}"
	width="250"
	height="250"
	alt="{{selecteduser.username}}" />
{% else %}
<img src="https://tinyurl.com/hea49k5" img width="300" height="300" alt="{{user.username}}"/>
{% endif %}

<br/>
<p>
<div>
	{% if selecteduser.username == user.username %}
	
		<form method="post" action="." enctype="multipart/form-data">
			{% csrf_token %}
		   {{ form.as_p }}
		   <input type="submit" value="Update" />
		</form>		
		
	{% else %}
	
	<p><strong>Website:</strong> <a href="{{userprofile.website}}">{{userprofile.website}}</a></p>
		
		
	{% endif %}
</div>
<div id="edit_profile"></div>

{% endblock %}