
{% extends 'artbud/base.html' %}

{% load staticfiles %}
{% block title %}{{ selecteduser.username }}Profile{% endblock %}

{% block body_block %}


<link rel="stylesheet" type="text/css" href="{%static 'css/profile.css' %}" />

<h1 class="display-3">{{selecteduser.username}}'s Profile</h1>

<div id='centred'>
{% if userprofile.picture %}
<img src="{{ MEDIA_URL }}{{ userprofile.picture }}"
	width="250"
	height="250"
	alt="{{selecteduser.username}}" />
{% else %}
<img src="https://tinyurl.com/hea49k5" img width="300" height="300" alt="{{user.username}}"/>
{% endif %}
</div>

<p>
<div>
	{% if selecteduser.username == user.username %}
	
		<form class="form-signin" role="form" method="post" action="." enctype="multipart/form-data">
			{% csrf_token %}
			<label for="id_websiteebsite" class="sr-only">Website: </label>
			<input type="text" id="id_website" class="form-control" name="website" placeholder="www.example.com" required autofocus>
			<p>
			<label for="id_bio" style="padding-right:38px">Bio: </label>
			<input type="text" id="id_bio" class="form-control" name="Bio" placeholder="About you...">
			<p>
			<label for="id_picture" style="padding-right:17px">Picture: </label>
			<input type="file" id="id_picture" name="Picture" placeholder="Picture" style="color:transparent">
			<p>
		   <button class="btn btn-lg btn-primary btn-block" type="submit" value="Update" />Submit</button>
		</form>		
		
	{% else %}
	
	<p><strong>Website:</strong> <a href="{{userprofile.website}}">{{userprofile.website}}</a></p>
		
		
	{% endif %}
</div>
<div id="edit_profile"></div>

{% endblock %}