
body {
    font-family: Century Gothic, sans-serif;
}

ul {
    list-style-type: none;

    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 80%;
}

li {
    float: left;
    border-right: 2px solid #000000;
    font-size: 16px;
    padding: 0px 12px 0px 12px;
    margin-top: 30px;
    width:20%;
    text-align: justify;
	
}
li:first-child {

    border-right: none;
}

li:last-child {
    margin-top: 0px;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #0066ff;
}

.active {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #ee7b1f;
}

hr {
    display: block;
    height: 2px;
    width: 102%;
    border: 0;
    border-top: 2px solid #000000;
    margin: 0px;
    padding: 0;
}


.spec {
    font-size: 14px;
}

.bot_bar{
    position: fixed;
    bottom:0px;
    font-size: 20px;
}