
.round_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.cen {
    text-align: center;
}


#move_right {
    margin-left:45%;
}

#move_left {
    text-align: center;
}

.item{
    text-align: justify;
    width: 250px;
}

div p{
    text-align: center;
}

th img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}