
.form-signin {
  max-width: 330px;
  padding: 5px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  margin-left:10px;
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-top:10px;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


body {
    font-family: Century Gothic, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 80%;
}

li {
    float: left;
    border-right: 2px solid #000000;
    font-size: 5px;
    padding: 0px 12px 0px 12px;
    margin-top: 30px;
    width:20%;
    text-align: justify;
	
}
li:first-child {

    border-right: none;
}

.bla {
    margin-top: -30px;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #0099ff;
}

.active {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #ffa41c;
}

hr {
    display: block;
    height: 1px;
    width: 102%;
    border: 0;
    border-top: 2px solid #000000;
    margin: 0px;
    padding: 0;
}


.spec {
    font-size: 12px;
}

.bot_bar{
    position: fixed;
    bottom:0px;
    font-size: 16px;
}